/* Container settings */
.container {
    background-color: #f9f9f9;
}

.main1 {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.color{
  color: rgb(24, 24, 185);
}